{% extends 'base.html' %}

{% block head %}
<title>Cro.B Orders Manager</title>
{% endblock %}

{% block body %}
    <div class="topbar">
        <h1 id="Comname">CROB</h1>
    </div>
    <div>
        <nav> 
            <a onclick="" href="/">Orders</a>
            <a href="./analysis">Analysis</a>
        </nav>
    </div>
    <div class="content">
    <h1>Cro.B - Orders Data</h1>

    {% if orders|length < 1 %}
        <h1>There are No Orders</h1>
    {% else %}
    <div id="tb-div">
        <table>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Payment</th>
                <th>Ordered Date</th>
                <th>Action</th>
            </tr>
            {% for order in orders %}
                <tr id="{{ order.id }}" {% if order.fulfilled %}class="fulfilled"{% endif %}>
                    <td>{{ order.name}}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.phone}}</td>
                    <td>{{ order.email}}</td>
                    <td>{{ order.product_name }}</td>
                    <td>{{ order.product_price }}</td>
                    <td>{{ order.payment }}</td>
                    <td>{{ order.date_created.date() }}</td>
                    <td id="btn-td">
                        {% if not order.processed %}
                        <button id="processBtn-{{ order.id }}" onclick="processOrder('{{ order.id }}')">
                                Process Order
                            </button>
                        {% else %}
                            <span id="processing-{{ order.id }}" class="fullfilled-message">&#10004; Processing</span><br>
                        {% endif %}
                        {% if not order.dispatched %}
                            <button id="dispatchBtn-{{ order.id }}" onclick="dispatchOrder('{{ order.id }}')">
                                Dispatch Order
                            </button>
                        {% else %}
                            <span id="dispatched-{{ order.id }}" class="fullfilled-message"> &#10004; Dispatch</span><br>
                        {% endif %}
                        {% if not order.fulfilled %}
                            <button onclick="orderFulfilled('{{ order.id }}')">
                                Fulfill Order 
                            </button>
                        {% else %}
                            <span class="fullfilled-message">&#10004; Order Fullfilled</span><br>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>

<script >
    function processOrder(orderId) {
        alert("Order processed successfully!");
        fetch('/api/process_order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id: orderId})
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                document.getElementById(orderId).classList.add('processed');
            } else {
                console.error(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function dispatchOrder(orderId) {
        alert("Order dispatched successfully!");
        fetch('/api/dispatch_order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id: orderId})
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                document.getElementById(orderId).classList.add('dispatched');
            } else {
                console.error(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    function orderFulfilled(orderId) {
    alert("Order fulfilled successfully!");
    fetch('/api/fulfill_order', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({id: orderId}) 
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'fulfilled') {
            document.getElementById(orderId).classList.add('fulfilled');
        } else {
            console.error(data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>

{% endblock %}